.navbar {
  background: var(--bs-purple);
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}
#card1{
    width:470px;
}
#card2{
    width:70%;
}
/* .details{
    font-size: 20px;
    color :#000;
    margin-left : -70px;
}
.info{
    font-size: 20px;
}
.general{
    font-size: 20px;
}
.btn{
    width: 198px;
    height: 47px;
    font-size: 18px;
}
.img{
    width :450.3px;
}
.h4{
    margin-top: 500px;
} */
/* @media(max-width: 768px){
    .col{
        width:1000px;
    }
} */

/* [class*="col-"] {
    width: 100%;
  } */
@media screen and (max-width: 600px){
    /* body{
        width: 100%;
        margin-top: -50px;
    }
    .container{
        width: 350px;
        margin-top: -30px;
        margin-left: -3px;
    }
    #img{
        width: 165%;
        margin-left:13%;
    }
    h1{
        font-size: 20px;
    }
    .general{
        font-size : 15px;
    }
    .info{
        font-size: 13px;
    }
    #logo{
        width:15px;
        height : 15px;
    }
    .col{
        width :40px;
    }
    .details{
        font-size: 13px;
        margin-left :-2px;
    }
    .btn{
        width : 120px;
        height: 28.48px;
        font-size : 12px;
    }
    .img{
        width:200px;
        height:200px;
    }
    .h4{
        margin-top: 10px;
    } */
    #h4{
        font-size: 14px;
    }
    #img{
        height:15px;
        width:15px;
        margin-top:-10px;
    }
    #h4-2{
        font-size: 12px;
        margin-left:-5%
    }
    #gmail{
        font-size: 12px;
    }
    #h3{
        margin-top:10%;
        font-size:18px;
    }
    #layerButton{
        margin-bottom:10%;
    }
    #mainOp{
        font-size: 14px;
        margin-top: 0px
    }
    #card1{
        width:90%
    }
    #card2{
        width:90%;
    }
    #h2{
        font-size:18px;
    }
    #h3{
        font-size:16px;
    }
    
}
